{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}

    <h1>Liste des étudiants</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Numéro étudiant</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.numetud }}</td>
                <td>
                    <a href="{{ path('student_edit', {id: student.id}) }}">
                        <button>Modifier</button>
                    </a>
                    <a href="{{ path('student_delete', {id: student.id}) }}">
                        <button>Supprimer</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
